@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet');

:root {
  --font-size-h1: 45px;
  --font-size-h2: 25px;
  --font-size-logo: 35px;
  --font-size-title: 20px;
  --font-normal: 16px;
}

.main-title {
  font-size: var(--font-size-h1);
  color: var(--dark-color-1);
  text-transform: capitalize;
}
.main-subtitle {
  font-size: var(--font-size-h2);
  color: var(--dark-color-2);
}
.title {
  font-size: var(--font-size-title);
  color: var(--dark-color-1);
  border-bottom: 1px solid var(--dark-color-1);
  font-size: 18px;
}
.normal {
  font-size: var(--font-normal);
  color: var(--dark-color-2);
}
