.footer-container {
  padding: 1em 3em;
  margin-bottom: 4em;
  display: grid;
  justify-content: center;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 350px));
}

.footer-target {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "title"
    "content"
    "show";
  grid-gap: 1em;
  padding: 1em;
  margin-bottom: 1em;
}
.normal p {
  overflow: hidden;
}
.footer-target .btn {
  grid-area: show;
}
.footer-target span {
  color: var(--brand-color-1);
}
.footer-target ol li a {
  color: var(--brand-color-1);
}
.footer-target h5 {
  color: var(--dark-color-1);
  font-weight: bold;
  margin-bottom: 1em;
}
.newPublication {
  margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-gap: 0.3em;

    grid-template-columns: repeat(auto-fit, minmax(180px, 400px));
  }
  .footer-target {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
      "title"
      "content"
      "show";
    grid-gap: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
  }
  .btn {
    width: 80%;
  }
  .btnOn {
    color: red
  }
  
}
