@import url("./fundations/colors.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

body {
  color: #000;
  width: 100vw;
  height: 100vh;
  background-color: var(--brand-color-1);
}
.Main {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: var(--background-1);
  display: grid;
  margin: 0 auto;
  padding: 0 1em;
  grid-template-rows: 15% auto auto;
  grid-gap: 0.5em;
  height: 100%;
}
.toggle {
  background: red;
}
@media only screen and (max-width: 768px) {
  .Main {
    grid-template-rows: 13% auto auto;
    grid-gap: 0.2em;
  }
}
