.Home {
  width: 100%;
}
.titles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  border-bottom: solid 1px var(--dark-color-2);
  text-align: center;
}
.cards-container {
  padding: 1em;
  display: grid;
  justify-content: center;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
}
.card-container {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--background-2);
  border: solid 1px var(--dark-color-2);
}

.card-container.color1 h4 {
  color: #7ba0c8;
}
.card-container.color2 h4 {
  color: #73aca5;
}
.card-container.color3 h4 {
  color: #fbcb69;
}
.card-container.color4 h4 {
  color: var(--brand-color-1);
}
.img-container {
  height: 0;
  overflow: hidden;
  padding: 110% 0 0 0;
  position: relative;
  width: 100%;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.description-container {
  padding: 1em;
}
h4 {
  border-bottom: 1px solid #1313;
  padding: 0 0 0.5em 0.3em;
  margin-bottom: 1em;
}

.btn {
  padding: 1em;
  width: 40%;
  background: var(--dark-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #fff;
}
.btnOn {
  color: red
}
.btn:hover {
  background: var(--brand-color-1);
}

.card-container a {
  color: #000;
}
.card-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.096);
  transition: transform 0.3s;
}
.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.267);
}

@media only screen and (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(180px, 250px));
  }
  .titles-container {
    padding: 0.2em 0;
  }
}

@media only screen and (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(180px, 350px));
  }
  .titles-container {
    padding: 0;
    transform: scale(0.9);
  }
}
